# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# WalkingCSharp
 
# WalkingCSharp - EOI Desarrollo Cloud

## ¿Autor de este repositorio?

- Lautaro Rocca

## ¿Pasos que se ha seguido para este proyecto?

1. **Clonar el repositorio**

```https://github.com/RdShb/WalkingCSharp.git```

2. **Lenguaje de programación utilizado: C# en VSC**

3. **Ejecutar comando ``dotnet new console``**

Esto creará la carpeta ``bin``, ``obj``, ``program.cs`` donde se escribirá el código y el ``.csproj``

4. **Subir versiones del proyecto**

Ejecutar los comandos:

 ```git branch Uni_X_ejer_Y``` : Crea nueva rama siendo x la unidad e y el proyecto

```git checkout Uni_X_ejer_Y``` :  Te situas en la nueva rama

```git add .``` : Añades los archivos

```git commit -m "mensaje"```: Confirmas

```git push```: Realizas la subida

## ¿Qué contiene este repositorio?

Este repositorio contiene 12 proyectos con sus distintas versiones o actualizaciones de un ejercicio.

Cada versión está en una rama o branch